 **Transactions**
**Sheet**

Reading the file from the dataset and analysis of dataset

In [1]:
import pandas as pd

In [6]:
 tran =pd.read_excel('KPMG.xlsx' , sheet_name = 'Transactions')

In [7]:
tran.head()
## display the top 5 data

   transaction_id  product_id  ...  standard_cost product_first_sold_date
0               1           2  ...          53.62                 41245.0
1               2           3  ...         388.92                 41701.0
2               3          37  ...         248.82                 36361.0
3               4          88  ...         381.10                 36145.0
4               5          78  ...         709.48                 42226.0

[5 rows x 13 columns]

In [28]:
 
## display from below 
tran.tail()

       transaction_id  product_id  ...  standard_cost product_first_sold_date
19995           19996          51  ...        1203.40              1970-01-01
19996           19997          41  ...         312.74              1970-01-01
19997           19998          87  ...          44.71              1970-01-01
19998           19999           6  ...         136.73              1970-01-01
19999           20000          11  ...        1580.47              1970-01-01

[5 rows x 13 columns]

In [9]:

## summary of the dataframe
tran.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 13 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   transaction_id           20000 non-null  int64
 1   product_id               20000 non-null  int64
 2   customer_id              20000 non-null  int64
 3   transaction_date         20000 non-null  datetime64[ns]
 4   online_order             19640 non-null  float64
 5   order_status             20000 non-null  object
 6   brand                    19803 non-null  object
 7   product_line             19803 non-null  object
 8   product_class            19803 non-null  object
 9   product_size             19803 non-null  object
 10  list_price               20000 non-null  float64
 11  standard_cost            19803 non-null  float64
 12  product_first_sold_date  19803 non-null  float64
dtypes: datetime64[ns](1), float64(4), int64(3), object(5)
memory usage: 2.0+ MB

In [14]:

## changing the date format in product_first_sold_date column

tran['product_first_sold_date'] = pd.to_datetime(tran['product_first_sold_date']).dt.date

In [15]:
tran.head()

   transaction_id  product_id  ...  standard_cost product_first_sold_date
0               1           2  ...          53.62              1970-01-01
1               2           3  ...         388.92              1970-01-01
2               3          37  ...         248.82              1970-01-01
3               4          88  ...         381.10              1970-01-01
4               5          78  ...         709.48              1970-01-01

[5 rows x 13 columns]

In [29]:
 
'''
view some basic statistical details like percentile, mean, std etc. of a data frame or a series of numeric values
'''
tran.describe()

       transaction_id   product_id  ...    list_price  standard_cost
count    20000.000000  20000.00000  ...  20000.000000   19803.000000
mean     10000.500000     45.36465  ...   1107.829449     556.046951
std       5773.647028     30.75359  ...    582.825242     405.955660
min          1.000000      0.00000  ...     12.010000       7.210000
25%       5000.750000     18.00000  ...    575.270000     215.140000
50%      10000.500000     44.00000  ...   1163.890000     507.580000
75%      15000.250000     72.00000  ...   1635.300000     795.100000
max      20000.000000    100.00000  ...   2091.470000    1759.850000

[8 rows x 6 columns]

In [31]:
tran.isnull().sum()

transaction_id               0
product_id                   0
customer_id                  0
transaction_date             0
online_order               360
order_status                 0
brand                      197
product_line               197
product_class              197
product_size               197
list_price                   0
standard_cost              197
product_first_sold_date    197
dtype: int64

In [19]:
tran.columns

Index(['transaction_id', 'product_id', 'customer_id', 'transaction_date',
       'online_order', 'order_status', 'brand', 'product_line',
       'product_class', 'product_size', 'list_price', 'standard_cost',
       'product_first_sold_date'],
      dtype='object')

In [22]:
tran['online_order'].value_counts

<bound method IndexOpsMixin.value_counts of 0        0.0
1        1.0
2        0.0
3        0.0
4        1.0
        ...
19995    1.0
19996    1.0
19997    1.0
19998    0.0
19999    1.0
Name: online_order, Length: 20000, dtype: float64>

In [24]:
 tran['order_status'].value_counts

<bound method IndexOpsMixin.value_counts of 0        Approved
1        Approved
2        Approved
3        Approved
4        Approved
           ...
19995    Approved
19996    Approved
19997    Approved
19998    Approved
19999    Approved
Name: order_status, Length: 20000, dtype: object>

In [25]:
 tran['brand'].value_counts

<bound method IndexOpsMixin.value_counts of 0                 Solex
1         Trek Bicycles
2            OHM Cycles
3        Norco Bicycles
4        Giant Bicycles
              ...
19995        OHM Cycles
19996             Solex
19997        OHM Cycles
19998        OHM Cycles
19999     Trek Bicycles
Name: brand, Length: 20000, dtype: object>

In [27]:
dup = tran.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
19995    False
19996    False
19997    False
19998    False
19999    False
Length: 20000, dtype: bool